/* Adaptado desde plantilla básica Bootstrap */

/* Evita el FOUT */
.wf-loading body {
    visibility: hidden;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
}

a,
.navbar a,
.social a {
    color: rgba(30, 139, 195, 1);
}

a:hover,
.navbar a:hover {
    color: rgba(0, 0, 0, 0.7);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.footer p {
    font-size: 0.9em;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;

}

.navbar .navbar-brand {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.dropdown-item:active {
    background-color: rgba(30, 139, 195, 1);
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: rgba(119, 119, 119, 1);
    border-top: 1px solid rgba(229, 229, 229, 1);
}

.footer a {
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px rgba(0, 0, 0, 0.5) dotted;
}

.footer a:hover {
    text-decoration: none;
    border-bottom: 1px rgba(0, 0, 0, 0.8) dotted;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 830px;
        /* Aumenté el tamaño para adaptar el contenedor al menú. Nuevos elementos requerirán aumentar 
        el tamaño del contenedor */
    }
}

.container-narrow>hr {
    margin: 30px 0;
}

.imginicio {
    padding-top: 1em;
    padding-bottom: 0.2em;
}

.imginicio img {
    justify-content: center;
    height: 300px;
    width: auto;
}

.social {
    padding-bottom: 1em;
    padding-top: 0.2em;
}

.social a {
    color: rgba(0, 0, 0, 0.7);
}

.social a:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.card {
    width: 18rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-deck {
    padding-bottom: 25px;
}

.card-body h5 {
    text-align: center;
    font-weight: 600;
    font-style: normal;
}

.card-footer {
    text-align: center;
}

.descripcion {
    padding-bottom: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

.prox-tostadas {
    padding-left: 1em;
}

.prox-tostadas h4 {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.bloquetext {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.ques-footer,
.bloquetext h1 {
    padding-bottom: 0.5em;
}

.bloquetext img {
    width: 50%;
    height: auto;
    margin-left: 0.5em;
    cursor: pointer;
    transition: 0.3s;
}

.bloquetext img:hover {
    opacity: 0.7;
}

.tostadas-widget {
    padding-top: 1.5em;
    height: 300px;

}

.btn-outline-info:hover a:hover {
    color: #ffffff;
    text-decoration: none;
}

.enlace-repo,
.tostada-entrada {
    padding-bottom: 1em;
}

.tostada-entrada img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px;
}

.tostada-entrada h5 {
    font-weight: bold;
}

.tostada-footer {
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.perfiles {
    width: 18rem;
}

.perfiles img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}