/* Adaptado desde plantilla básica Bootstrap */

/* Evita el FOUT */
.wf-loading body {
    visibility: hidden;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

a {
     color: rgba(30, 139, 195, 1);
}

a:hover {
    color: rgba(0, 0, 0, 0.7);
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;

}

.navbar .navbar-brand {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.navbar a {
    color: rgba(30, 139, 195, 1);
}

.navbar a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: rgba(30, 139, 195, 1);
}

.dropdown-item:active {
    background-color: rgba(30, 139, 195, 1);
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: rgba(119, 119, 119, 1);
    border-top: 1px solid rgba(229, 229, 229, 1);
}

.footer a {
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px rgba(0, 0, 0, 0.5) dotted;
}

.footer a:hover {
    text-decoration: none;
    border-bottom: 1px rgba(0, 0, 0, 0.8) dotted;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 830px;
        /* Aumenté el tamaño para adaptar el contenedor al menú */
    }
}

.container-narrow>hr {
    margin: 30px 0;
}

/* Mensaje principal */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    background-color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../imagenes/img_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron p.lead {
    text-shadow: 0 0 3px #ffffff;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.card {
    width: 18rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-deck {
    padding-bottom: 25px;
}

.social a {
    color: rgba(30, 139, 195, 1);
}

.descripcion {
    padding-bottom: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

.prox-tostadas {
    padding-left: 1em;
}

.prox-tostadas h4 {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.tostadas-widget {
    padding-top: 1.5em;
    height: 300px;

}

.btn-outline-info:hover a:hover {
    color: #ffffff;
    text-decoration: none;
}

.tostada-entrada {
    padding-bottom: 1em;
}

.tostada-entrada img {
    width: 50px;
    height: 50px;
    float: left;
    padding: 5px;
}

.tostada-entrada h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.tostada-footer {
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}